h5 {
	font-weight: bold;
	padding-bottom: 0.5vh;
}

.Contact {
	/* &__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	} */

	&__info {
		padding: 2vw;

		a {
			text-decoration: none;
			color: $sous-titre;

			&:hover {
				text-decoration: underline;
			}
		}

		&--item {
			padding: 2vh 0;

			p {
				padding-left: 2vw;
			}
		}

		&--link {
			p {
				font-size: 3rem;
			}
		}

		&--cv {
			i {
				font-size: 3rem;
			}
		}
	}

	&__form {
		width: 90vw;
		margin: 0 auto;
	}
}

.row100 {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 20px;

	.col {
		position: relative;
		width: 100%;
		padding: 0 10px;
		margin: 30px 0 10px;

		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}

	.inputBox {
		position: relative;
		width: 100%;
		height: 40px;
		color: white;

		@media screen AND (min-width: 1024px) {
			height: 60px;
		}

		input {
			position: absolute;
			width: 97%;
			height: 100%;
			background: transparent;
			box-shadow: none;
			border: none;
			outline: none;
			font-size: 1rem;
			padding-left: 10px;
			z-index: 1;
			color: white;

			@media screen AND (min-width: 1024px) {
				font-size: 1.5rem;
			}
		}

		.text {
			position: absolute;
			top: 0;
			left: 0;
			line-height: 40px;
			font-size: 1rem;
			padding: 0 10px;
			display: block;
			pointer-events: none;

			transition: 0.5s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-ms-transition: 0.5s;
			-o-transition: 0.5s;

			@media screen AND (min-width: 1024px) {
				height: 60px;
				font-size: 1.5rem;
				line-height: 60px;
			}
		}

		.line {
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			height: 2px;
			background: $dark;
			pointer-events: none;

			transition: 0.5s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-ms-transition: 0.5s;
			-o-transition: 0.5s;

			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;

			@media screen AND (min-width: 1024px) {
				height: 4px;
			}
		}

		input:focus + .text {
			top: -35px;
			left: -10px;

			@media screen AND (min-width: 1024px) {
				top: -45px;
			}
		}

		input:focus ~ .line {
			height: 100%;
		}

		input:valid + .text {
			top: -35px;
			left: -10px;

			@media screen AND (min-width: 1024px) {
				top: -45px;
			}
		}

		input:valid ~ .line {
			height: 100%;
		}

		&.textarea {
			position: relative;
			width: 100%;
			height: 100px;
			padding: 10px 0;

			textarea {
				resize: none;

				position: absolute;
				width: 97%;
				height: 100%;
				background: transparent;
				box-shadow: none;
				border: none;
				outline: none;
				font-size: 1rem;
				padding-left: 10px;
				z-index: 1;
				color: white;

				@media screen AND (min-width: 1024px) {
					font-size: 1.5rem;
				}
			}

			textarea:focus + .text {
				top: -35px;
				left: -10px;

				@media screen AND (min-width: 1024px) {
					top: -45px;
				}
			}

			textarea:focus ~ .line {
				height: 100%;
			}

			textarea:valid + .text {
				top: -35px;
				left: -10px;

				@media screen AND (min-width: 1024px) {
					top: -45px;
				}
			}

			textarea:valid ~ .line {
				height: 100%;
			}
		}
	}
}

.row {
	display: block;
}

.button {
	margin-left: 2vh;
	position: relative;
	width: 200px;

	&__fill {
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		width: 0%;
		background-color: $titre;

		transition: all 0.5s cubic-bezier(0.9, 0.03, 0.69, 0.22);
		-webkit-transition: all 0.5s cubic-bezier(0.9, 0.03, 0.69, 0.22);
		-moz-transition: all 0.5s cubic-bezier(0.9, 0.03, 0.69, 0.22);
		-ms-transition: all 0.5s cubic-bezier(0.9, 0.03, 0.69, 0.22);
		-o-transition: all 0.5s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	}

	&__btn {
		width: 100%;
		position: relative;
		z-index: 1;
		outline: none;
		background: transparent;
		border: 4px solid $titre;
		padding: 1.5vh 0;
		color: white;

		&:hover {
			& .button__fill {
				width: 100%;
			}
		}
	}
}
