/*

Breakpoint :
    600 à 768
    768 à 1400
    1400 et plus

Couleur :
    gris: #A9ACAB
    clic: #062F4A
    hover: #38383A
    actif: #3F3F46

*/

$blanc: white;
$titre: #5881b3;
$sous-titre: #967367;
$dark: #252526;
$darker: #1e1e1e;

@import "./utils/_reset.scss";
@import "./components/_font";

@import "./components/base";

@import "./components/_accueil";
@import "./components/_profile";
@import "./components/_contact";
@import "./components/_footer";
