@font-face {
    font-family: Myriad;
    src: url(./font/Myriad_Pro.otf) format("opentype");
}

@font-face {
    font-family: Source;
    src: url(./font/Source_code.otf) format("opentype");
}

@font-face {
    font-family: Unisono;
    src: url(./font/Unisono_Quickpath.otf) format("opentype");
}