a {
    text-decoration: none;
    color: #A9ACAB;
}

li {
    padding: 5px 0;
}

li:hover {
    background-color: #38383A;
}

li:active {
    background-color: #062F4A;
}

.actif {
    background-color: #3F3F46;
}

i {
    color: #FD7E14;
    padding: 0 10px;
}

body {
    background-color: #252526;
    font-size: 30px;
}

.wrap {
    display: flex;
    height: 100%;
}

nav {
    width: 200px;
    font-family: Myriad;
}

nav ul {
    width: 200px;
}

.logo {
    height: 100px;
    background: url(../Images//SVG/Logo-blanc-Simplifier.svg) no-repeat center;
    background-size: 50%;
}

.nav {
    font-family: Myriad;
    color: white;
    font-size: 40px;
    line-height: 60px;
    padding: 0 10px;
}

.full {
    height: calc(100vh - 60px);
}

main {
    width: 100%;
    height: 100%;
    font-family: Source;
}