/* Page complète */
.font{
    margin: auto;
    padding-top: 10px;
    width: 960px;
    background-color: rgb(105, 102, 102);
}

/* Navigation */

figure{
    margin: 0px;
}

ul{
    padding-right: 200px;
    background-color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

li {
	display: inline;
	list-style: none;
    margin: 10px;
    text-align: center;
}

li a {
	display: inline-block;
	width: 100px;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	background: #999;
} 

.langue {
    height: 20px;
}

/* Section */

section{
    background-color: rgb(89, 146, 184);
    padding-left: 10px;
    padding-top: 5px;
    width: 800px;
    float: left;
}

h1{                     /* Titre 1 */
    color: blue;
    text-align: center;
    font-size: 70px;
    margin: 0px;
}

h2{                     /* Titre 2 */
    margin-top: 0px;
}

p{
    margin-right: 5px;
}

.omega {                /* Image chat assis */
    float: right;
    height: 600px;
    margin: 20px;
}

.haribo{                /* Image deux chats */
    margin: 10px;
    height: 320px;
    float: left;
}

.poeme~p::first-letter {        /* Première lettre du poème */
    font-size: 150%;
    font-weight: bold;
    color: rgb(0, 255, 170);
}

/* Aside */

aside{
    margin-left: 810px;
    padding-left: 5px;
    background-color: rgb(109, 95, 95);
}

aside p{
    margin: 0px;
}

/* Footer */

footer{
    overflow: hidden;
    width: 950px;
    background-color: rgb(155, 125, 125);
    padding: 5px;
}